/* Styl do szablonu wyswietlania repertuaru na ekran repertuaru w kasie*/

$tlo: #000;
$tekst: #FFF;
$kolor-naglowka: #EE4724;
$font-size-tabeli: 500%;
$font-size-naglowka: 400%;
$font-size-dopisku: 300%;

*{margin: 0;
padding: 0;}

body{
	background-color: $tlo;
	color: $tekst;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-weight: bold;
}

.naglowekDnia{
	margin-top: 0.2em;
}

// Główna tabela wyświetlająca repertuar na ekran
table{
	margin: 1%;
	margin-left: auto;
	margin-right: auto;
	font-size: $font-size-tabeli;
	line-height: 130%;

}

p{
	// border: 1px solid red;
	margin: 0;
	padding: 0;
	text-align: center;
	&.naglowekDnia{
		border-bottom: 1px solid darken($tekst, 50%);
		font-size: $font-size-naglowka;
		color: $kolor-naglowka;
	}

	&.dopisek{
		font-size: $font-size-dopisku;
		color: darken($tekst, 20%);
	}
}