/* Styl do szablonu wyswietlania repertuaru na ekran repertuaru w kasie*/

$tlo: #000;
$tekst: #FFF;
$kolor-naglowka: #EE4724;
// $font-size-tabeli: 500%; definiowane w pods ekran_kasa_ustawienia
$font-size-naglowka: 400%;
// $font-size-dopisku: 300%; definiowane w pods ekran_kasa_ustawienia

*{margin: 0;
padding: 0;}

body{
	background-color: $tlo;
	color: $tekst;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-weight: bold;
}

.naglowekDnia{
	margin-top: 0.2em;
}

// Główna tabela wyświetlająca repertuar na ekran
table{
	margin: 1%;
	margin-left: auto;
	margin-right: auto;
	// font-size: $font-size-tabeli; definiowane w pods ekran_kasa_ustawienia
	line-height: 130%;

}

p{
	margin: 0;
	padding: 0;
	text-align: center;
	&.naglowekDnia{
		border-bottom: 1px solid darken($tekst, 50%);
		font-size: $font-size-naglowka; 
		color: $kolor-naglowka;

		.godz, .min, .sec, .srednik{
			color: $tekst;
		}
	}

	&.dopisek{
		// font-size: $font-size-dopisku; definiowane w pods ekran_kasa_ustawienia
		color: darken($tekst, 20%);
	}
}

span.komentarz{
	color: darken($tekst, 20%);
	line-height: 100%;
	margin-left: 0.25em;
}
