/* Styl do szablonu wyswietlania repertuaru na ekran repertuaru w kasie*/
/* line 10, ../../sass/ekran.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 13, ../../sass/ekran.scss */
body {
  background-color: #000;
  color: #FFF;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-weight: bold;
}

/* line 20, ../../sass/ekran.scss */
.naglowekDnia {
  margin-top: 0.2em;
}

/* line 25, ../../sass/ekran.scss */
table {
  margin: 1%;
  margin-left: auto;
  margin-right: auto;
  line-height: 130%;
}

/* line 34, ../../sass/ekran.scss */
p {
  margin: 0;
  padding: 0;
  text-align: center;
}
/* line 38, ../../sass/ekran.scss */
p.naglowekDnia {
  border-bottom: 1px solid gray;
  font-size: 400%;
  color: #EE4724;
}
/* line 44, ../../sass/ekran.scss */
p.dopisek {
  color: #cccccc;
}

/* line 50, ../../sass/ekran.scss */
span.komentarz {
  color: #cccccc;
  line-height: 100%;
  margin-left: 0.25em;
}
